<!DOCTYPE html>
<html>
<head>
    <title>{{ dan }}단</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        h1 {
            margin-bottom: 30px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin: 5px 0;
        }
        .back-link {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>{{ dan }}단</h1>
    <ul>
        {% for result in dan_list %}
            <li>{{ result }}</li>
        {% endfor %}
    </ul>
    <a class="back-link" href="/gugudan/">전체 구구단 보기</a>
</body>
</html>
