{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Welcome to My Django Project</h1>
    <div class="list-group">
        <a href="{% url 'bookmarks:bookmark_list' %}" class="list-group-item list-group-item-action">Bookmarks</a>
        <a href="{% url 'todos:todo_list' %}" class="list-group-item list-group-item-action">Todos</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="list-group-item list-group-item-action">Login</a>
            <a href="{% url 'signup' %}" class="list-group-item list-group-item-action">Sign Up</a>
        {% endif %}
    </div>
</div>
{% endblock %}
